/* CSS file */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2b2b;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 10rem;
  background-color: rgb(177, 88, 56);
  height: 10vh;
}

.input-group,
button {
  margin: 1rem auto;
  text-transform: capitalize;
}
input {
  padding: 2px;
}
button {
  padding: 4px;
}
h4 {
  border-top: solid 2px #f2f2f2;
  width: 100vw;
  text-align: center;
  padding-top: 2rem;
}

li {
    margin: 1rem;
    list-style: none;

}
